@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(-15deg);
    transform: rotate(-15deg);
  }
  to {
    -webkit-transform: rotate(345deg);
    transform: rotate(345deg);
  }
}
@keyframes rotation {
  from {
    -webkit-transform: rotate(-15deg);
    transform: rotate(-15deg);
  }
  to {
    -webkit-transform: rotate(345deg);
    transform: rotate(345deg);
  }
}

.rotation {
  -webkit-animation: rotation 20s linear infinite;
  animation: rotation 20s linear infinite;
}
