.table {
  width: 1100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: auto;
  padding-bottom: 90px;
  z-index: 1;
}
